.BunsControls {
    min-width: 300px;
    max-height: 550px;
    padding: 1rem;

    background-color: #008bee;
    color: white;
    border-radius: 30px;
}

.DivButton {
    margin-top: 25px;
    text-align: center;
}