.BunsPreview {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    margin-right: 3rem;
    margin-bottom: 1rem;

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    overflow: hidden;
}
.bun {
    background-color: #ffc240;
    padding: 10px;
    border-radius: 30px;
    border: 5px solid gray;
}
.ingredients {
    text-align: center;
    width: 390px;
    min-height: 380px;
    position: relative;
}
.price {
    font-size: 1.5rem;
    color: white;
    background-color: #008bee;
    border-radius: 1rem;
    padding: 0 1rem;
    margin-top: 40px;
} 

@media (max-width: 750px) {
    .BunsPreview {
        margin-right: 0;
    }
}