.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    font-size: 26px;
    color: white;
    background-color: #b709ce;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    position: sticky;
    top: 0;
    left: 0;
}

@media (max-width: 549px) {
    .Toolbar nav {
        display: none;
    }
}