.Drawer .content {
  width: 250px;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  font-size: 26px;
  color: white;
  background-color: #008bee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  transition: transform 0.3s ease-out;
}

.open {
  transform: translateX(0);
}
.close {
  transform: translateX(-260px);
}

@media (min-width: 550px) {
  .Drawer {
    display: none;
  }
}
