.NavItem a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 15px;
    margin-left: 10px;
    transition: background-color .5s ease-out;
}
.NavItem a:hover {
    border-color: white;
    background-color: #ffc240;
}
.NavItem a:active,
.NavItem a.active {
    background-color: #ffc240;
} 

@media (max-width: 549px) {
    .NavItem a {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 10px solid transparent;
        border-bottom: none;
    }
} 