.SwitchBun {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  min-width: 260px;
}
.inp {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Jura";
}
